<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUD_Cadastro.DAL.Properties.Settings.CST" connectionString="Data Source=DESKTOP-H13I64F\SQLEXPRESS;Initial Catalog=Cadastro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>